*{
    margin: 0;
    padding: 0;
    /*font-family: 'Poppins', sans-serif;*/
}

body{
    margin: 0;
    padding:0;
}

/*the first page*/
.home1{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,10,0.6),rgba(0,0,10,0.6)), url(images/bach-G-img.png);
    background-size: cover;
    background-color: #010101;
    background-position: center;
    position: relative;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;

}

.logos img{
    width: 350px;
}

.nav-links{
    float: center;
    text-align: center;
    transition: 1s;
    height: 100px;
}

.nav-links ul li a{
    text-decoration: none;
    color: rgb(35, 145, 83);
    font-size: 25px;
    font-family: galaxia;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 40px;
    transition: 1s;
}
.nav-links:hover{
    background-color: #01d449;
    transition: 1s;
    width: 100%;
    height: 100px;
}
.nav-links ul li:hover{
    background-color: #444444;
    width:20%;
    transition: 1s;
    margin-right: 100px;
    text-decoration: dashed;
    font-size: 40px;
}

.nav-links ul li a:hover{
    font-size: 40px;
    transition: 1s;
}

@media(max-width: 767px){
    .logos img{
        width: 250px;
    }
    .nav-links ul li:hover{
        background-color: #444444;
        width:21%;
        font-size: 20px;
        transition: 1s;
        margin-right: 50px;
        text-decoration: dashed;
    }
    .nav-links ul li a{
        font-size: 16px;
    }
    .nav-links ul li{
        margin: 16px;
    }
    .nav-links ul li:hover{
        transform: scale(1.2);
    }
    .nav-links ul li a:hover{
        font-size: 20px;
    }
    .home2 .game-blocks{
        display: block;
        align-items: center;
        justify-content: center;
        float: right;
        margin-top: 20px;
    }
    .home3 .game-blocks2{
        display: block;
        align-items: center;
        justify-content: center;
        float: right;
        margin-top: 20px;
    }
    /*.title2 h1{
        padding-top: 100px;
    }*/
    
}
/*the second page*/
/*Bux fix needed*/
/*add flower, diamond and heart shape for the 
back ground shape*/
.home2{
    background-color: #010101;
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-blocks{
    display: flex;
}

.game-blocks .a{
    width: 250px;
    height: 250px;
    background-image: url("images/game_img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid #fff;
    border-radius:15px;
    transition: 1s;
    margin-right: 20px;
}
.game-blocks .b{
    width: 250px;
    height: 250px;
    background-image: url("images/comming-soon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid #fff;
    border-radius:15px;
    transition: 1s;
    margin-right: 20px;

}
.game-blocks .c{
    width: 250px;
    height: 250px;
    background-image: url("images/comming-soon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid #fff;
    border-radius:15px;
    transition: 1s;
}
.game-blocks .a:hover{
    transform:scale(1.3);
    transition: 1s;
}
.game-blocks .b:hover{
    transform:scale(1.3);
    transition: 1s;
}
.game-blocks .c:hover{
    transform:scale(1.3);
    transition: 1s;
}
.home3{
    background-color: #010101;
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title2 h1{
    color: #01d449;
    background-color: #010101;
    text-align: center;
    padding-top: 30px;
    font-family: galaxia;
}
.game-blocks2{
    display: flex;
}
.game-blocks2 .a1{
    width: 250px;
    height: 250px;
    background-image: url("images/flower1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    margin-right: 20px;
}
.game-blocks2 .b1{
    width: 250px;
    height: 250px;
    background-image: url("images/heart1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    margin-right: 20px;

}
.game-blocks2 .c1{
    width: 250px;
    height: 250px;
    background-image: url("images/diamond1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.game-blocks2 .a1:hover{
    transform:scale(1.3);
    transition: 1s;
}
.game-blocks2 .b1:hover{
    transform:scale(1.3);
    transition: 1s;
}
.game-blocks2 .c1:hover{
    transform:scale(1.3);
    transition: 1s;
}