body{
    background-color: #010101;
}
.title1{
    color: #01d449;
    margin: 0px 12px;
}
.text{
    font-size: 1.8em;
    letter-spacing: 10px;
    font-family: monospace;
    /*border-right: 5px solid;*/
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(22),
        cursor .4s step-end infinite alternate;
}

@keyframes typing {
    from { width: 0}
}
@media(max-width:767px) {
    /*.text{
        font-size: 15px;
        letter-spacing: 5px;
    }*/
}
.paragragh1{
    color: #01d449;
    margin: 0px 12px;
}
.paragragh1 .text2{
    font-size: 1.8em;
    letter-spacing: 10px;
    font-family: monospace;
    width: 100%;
}